body {
    font-family: 'Roboto', sans-serif;
    background: #70e1f5; 
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);
    background: linear-gradient(to right, #ffd194, #70e1f5);
}

h1 {
    background: #2980B9;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background: #fff;
    height: 40px;
    line-height: 40px;
    color: #666;
}

input {
    font-size: 18px;
    background: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #2980B9;
    border: 3px solid rgba(0,0,0,0);
}

span {
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: #fff;
    width: 0;
    display: inline-block;
    opacity: 0;
}

li:nth-child(2n) {
    background: #f7f7f7;
}

input:focus {
    background: #fff;
    border: 3px solid #2980B9;
    outline: none;
}

li:hover span {
    width: 40px;
    transition: 0.2s linear;
    opacity: 1.0;
}

.completed {
    text-decoration: line-through;
    color: #aeaeae;
}

.fa-plus {
    float: right;
}

#container {
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
}
